@use "./utils" as *;
@use "./variables" as *;

.generator {
  width: 100%;
  max-width: 540px;
}

.generator-result,
.generator-body {
  background-color: var(--clr-grey-4);
  padding: var(--sp-2);

  @media (min-width: $bp-tablet) {
    padding-inline: var(--sp-4);
  }
}

.generator-body {
  @media (min-width: $bp-tablet) {
    padding: var(--sp-4);
  }
}

.generator-result {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-end: var(--sp-2);
}

.pwd {
  color: var(--clr-grey-3);
  font-size: var(--fs-2);
  line-height: var(--lh-2);

  &.pwd--generated {
    color: var(--clr-grey-1);
  }

  @media (min-width: $bp-tablet) {
    font-size: var(--fs-1);
    line-height: var(--lh-1);
  }
}

.copy-container {
  display: flex;
  align-items: center;
  gap: var(--sp-1);

  @media (min-width: $bp-tablet) {
    gap: var(--sp-2);
  }

  &.done {
    & > .copy-message {
      display: block;
    }
  }
}

.copy-message {
  display: none;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.btn-icon {
  cursor: pointer;
  color: var(--clr-primary);

  &:hover {
    color: var(--clr-grey-1);
  }

  @media (min-width: $bp-tablet) {
    width: 21px;
    height: 24px;
  }
}

.label-length {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-end: var(--fs-4);

  @media (min-width: $bp-tablet) {
    margin-block-end: var(--fs-2);
  }
}

.label-text {
  color: var(--clr-grey-1);
}

.label-value {
  font-size: var(--fs-2);
  color: var(--clr-primary);

  @media (min-width: $bp-tablet) {
    font-size: var(--fs-1);
    line-height: var(--lh-1);
  }
}

.pwd-range {
  --range-percentage: 50%;
  width: 100%;
  -webkit-appearence: none;
  -moz-appearance: none;
  appearance: none;

  height: var(--sp-1);
  outline: none;

  background: linear-gradient(
    to right,
    var(--clr-primary) var(--range-percentage),
    var(--clr-grey-5) var(--range-percentage)
  );

  &::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 26px;
    height: 26px;
    background: var(--clr-grey-1);
    border-radius: 50%;
    cursor: pointer;

    border: 2px solid var(--clr-grey-1);

    &:hover,
    &:active {
      border-color: var(--clr-primary);
      background: var(--clr-grey-5);
    }
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 26px;
    height: 26px;
    background: var(--clr-grey-1);
    border-radius: 50%;
    cursor: pointer;

    border: 2px solid var(--clr-grey-1);

    &:hover,
    &:active {
      border-color: var(--clr-primary);
      background: var(--clr-grey-5);
    }
  }
}

.form-control--length {
  margin-block-end: var(--sp-4);
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: var(--fs-4);

  margin-block-end: var(--sp-4);
}

.form-control--checkbox {
  display: flex;
  gap: var(--sp-2);
  align-items: center;

  @media (min-width: $bp-tablet) {
    gap: var(--sp-3);
  }
}

input[type="checkbox"] {
  display: none;

  &:checked + .checkbox {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
  }
}

.checkbox {
  border: 2px solid var(--clr-grey-1);
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:hover {
    border-color: var(--clr-primary);
  }
}

.checkbox-title {
  color: var(--clr-grey-1);
}

.pwd-str {
  padding: var(--sp-2);
  background-color: var(--clr-grey-5);

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-end: var(--sp-2);

  @media (min-width: $bp-tablet) {
    margin-block-end: var(--sp-4);
  }
}

.str-title {
  color: var(--clr-grey-2);
  text-transform: uppercase;
}

.str-result {
  display: flex;
  align-items: center;
  gap: var(--sp-2);
}

.str-result-value {
  color: var(--clr-grey-1);
  text-transform: uppercase;
  font-size: var(--fs-3);

  @media (min-width: $bp-tablet) {
    font-size: var(--fs-2);
  }
}

.str-result-ticks {
  display: flex;
  align-items: center;
  gap: var(--sp-1);

  &.too-weak .block:first-child {
    background-color: var(--clr-strength-1);
    border-color: var(--clr-strength-1);
  }

  &.weak .block:nth-child(-n + 2) {
    background-color: var(--clr-strength-2);
    border-color: var(--clr-strength-2);
  }

  &.medium .block:nth-child(-n + 3) {
    background-color: var(--clr-strength-3);
    border-color: var(--clr-strength-3);
  }

  &.strong .block {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
  }
}

.block {
  width: 10px;
  height: 28px;
  background-color: transparent;
  border: 2px solid var(--clr-grey-1);
}

.btn {
  display: block;
  width: 100%;
  padding: var(--sp-2);
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary);

  cursor: pointer;

  &:hover {
    color: var(--clr-primary);
    background: transparent;
  }
}
