* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font-weight: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;

  &:focus,
  &:active {
    outline: none;
  }
}
